<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
</head>
<body>
<ul class="days" id="day">
    <!-- 核心 v-for循环 每一次循环用<li>标签创建一天 -->
    <li  v-for="arr in locationArr" v-if="" :class="{hasSign:isVerDate(arr)}">
        {{arr}}
    </li>
</ul>
</body>
<script>
    new Vue({
        el:'#day',
        data:{
            locationArr:[1,2,3,4,5,6,7,8,9,10],
            clientArr:[1,3,5,7],
            hasSign:null,
        },
        methods:{
            isVerDate:function(v) {
                return  this.clientArr.includes(v);
            },
        },
        computed:{

        }

    })
</script>
</html>